.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  padding: 92px 50px 92px 50px;
  align-items: center;
}

.header_menu {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

.header__links-list {
  display: flex;
  gap: 34px;
}
.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header___link {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
}

.header___link_active {
  text-decoration: none;
}

.header__logo {
  width: min-content;
}

.header__address-list-item {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  font-style: normal;
  width: 240px;
}

.address {
  list-style-type: none;
  font-style: normal;
  font-size: 18px;
}


.header__address-list {
  margin-left: auto;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
  padding: 165px 50px 0 50px;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  color: #ffffff;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 3;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  padding-bottom: 20px;
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  display: block;
  padding-bottom: 20px;
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  padding-left: 28px;
  padding-top: 115px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  width: 100%;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
  z-index: 3;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 32px 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  z-index: 3;
}

.lots {
  position: relative;
  margin-top: 179px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 64px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 24px 0 24px;
  flex-grow: 1;
}

.lots__card-list-item {
  list-style-type: none;
  position: relative;
  display: flex;
  min-height: 563px;
  max-width: 334px;
}

.card-link {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 51px 40px 48px 40px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}


.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card__title {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  list-style: none;
  line-height: 26.4px;
  font-weight: 700;
  z-index: 3;
  text-decoration: underline;
}

.card__text {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  z-index: 3;
}

.lots__look-more-link {
  font-size: 18px;
  line-height: 23.45px;
  font-weight: 400;
  padding-left: 64px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 146px 24px 0 24px;
}

.about__column {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  padding-top: 133px;
  gap: 100px;
}

.about__logo {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #000;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 120px;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 180px 0px 88px 0px;
  padding: 0 50px 0 50px;
}

.footer__menu {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  grid-column-start: 3;
  grid-column-end: 4;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}